:root {
    --w-cell: 30px;
}

header, footer{
    height: 15vh;
}
main {
    height: 70vh;
}
.container-grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-grid .cell {
    width: var(--w-cell);
    height: var(--w-cell);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked {
    background-color: var(--bs-info);
}
.container-grid.easy{
    width: calc(var(--w-cell) * 10);
    height: calc(var(--w-cell) * 10);
}
.container-grid.medium{
    width: calc(var(--w-cell) * 9);
    height: calc(var(--w-cell) * 9);
}
.container-grid.hard{
    width: calc(var(--w-cell) * 7);
    height: calc(var(--w-cell) * 7);
}
.cell.bomb{
    background-color: var(--bs-danger);

}

.popup {
    width: calc(100% / 3);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.overlay {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
}
.closeButton{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.flag{
    background-color: var(--bs-warning);
}